@font-face {
    font-family: 'dejavu';
    src: url(../font/bpg_dejavu_sans.ttf);
}

body {
    font-family: 'dejavu';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    overflow: hidden !important;
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-size: cover;
}

#root {
    overflow: hidden !important;
}

#giorgi {
    transition: 0.2s;
}

.left,
.right {
    width: 150px;
    position: absolute;
    top: 78%;
    transition: 0.1s;
}

.left {
    left: 2%;
}

.right {
    left: 60%;
    transform: scaleX(-1);
}

.left-eff {
    width: 200px;
    position: absolute;
    top: 40%;
    left: 10%;
    opacity: 0;
    transition: 0.2s;
}

.right-eff {
    width: 200px;
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0;
    transition: 0.2s;
}